## 汎用コマンド

alias ls='ls --color=auto'
alias la='ls -A'
alias ll='ls -lhA'

alias grep='grep --color=auto'

alias mv='mv -i'
alias rm='rm -i'
alias cp='cp -i'

alias df='df -h'
alias du='du -h'

alias relogin='exec ${SHELL} -l'

# online-judge-tools用エイリアス
alias oj-s-pypy='oj s -y --no-open -l 4047'
alias oj-s='oj s -y --no-open'

function oj-t-py(){
    command oj t -c "python3 $1"
}
function oj-t-pypy(){
    command oj t -c "pypy3 $1"
}